html,
body {
  --background: #155797;
  --foreground: #ffffff;
  --accent: #ffa500;

  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--background);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}
