html,
body {
  --background: #155797;
  --foreground: #ffffff;
  --accent: #ffa500;

  --lightgray: #d3d3d3;
  --darkgray: #222;

  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--background);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}
