.headerContent {
  flex-direction: row;
}

/* mobile */
@media only screen and (max-width: 768px) {
  .headerContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .nsfLogo {
    display: none;
  }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tagline {
    display: none;
  }
}
